.navbar>.container {
  justify-content: center;
}

.navbar.is-primary {
  background-color: black;
  opacity: .8;
}

.navbar.is-primary:hover {
  opacity: 1;
}

.is-size-4 a:hover {
  color: #fff !important;
}

.image.header-logo {
  margin-top: 2em;
  margin-bottom: 0em !important;
}

.warning-message {
  color: red;
}

.debug {
  border: red solid 1px;
}

.card:nth-child(2n) {
  background: #eee;
}

.content:not(:first-child) {
  margin-top: 1.5rem;
}